/* Move down content because we have a fixed navbar that is 50px tall */
body {
  background-color: #F2F2F2;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove padding from wrapping element since we kick in the grid classes here */
  .body-content {
    padding: 0;
  }
}
#subscribers {
  position: absolute;
  height: 100%;
  width: 100%;
}
#subscribers div {
  float: left;
  width: 100%!important;
  height: 100%!important;
}
#subscribers h3 {
  color: white;
  z-index: 999;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
}
.archive-options {
  display: none;
}
.bump-me {
  padding-top: 40px;
}
/* your styles go here */
.brand-logo {
  position: absolute;
  z-index: 1;
}
.brand-logo img,
.brand-logo svg {
  width: auto;
  height: 50px;
  margin-top: 20px;
  margin-left: 20px;
}
.resize-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
  cursor: pointer;
}
#bottom-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}
#bottom-bar .partner-image {
  left: 20px;
  z-index: 1;
  float: left;
}
@media (max-width: 650px) {
  #bottom-bar .partner-image {
    width: 20px!important;
    height: 60px!important;
  }
}
#bottom-bar .keyboard {
  margin-right: 20px;
  bottom: 40px;
  z-index: 1;
  float: right;
  margin-top: 155px;
  cursor: pointer;
}
@media (max-width: 650px) {
  #bottom-bar .keyboard {
    margin-top: 0;
    padding-left: 20px;
    margin-bottom: 20px;
    float: left;
    width: 100%;
  }
}
#bottom-bar .keyboard.dot:after {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  content: '';
  position: absolute;
  margin-top: -23px;
  margin-left: -5px;
}
#bottom-bar .communication-buttons {
  display: inline-flex;
  float: left;
  margin-bottom: 40px;
  z-index: 1;
  margin-top: 155px;
  margin-left: calc((100% - 350px) / 2);
}
@media (max-width: 650px) {
  #bottom-bar .communication-buttons {
    margin-left: 0;
    margin-top: 25px;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
#bottom-bar .communication-buttons.multi-video {
  margin-left: calc((100% - 600px) / 2);
}
@media (max-width: 650px) {
  #bottom-bar .communication-buttons.multi-video {
    width: 100%;
  }
}
#bottom-bar .microphone,
#bottom-bar .end-call,
#bottom-bar .video-call {
  border-radius: 50%;
  padding: 10px;
  margin: 0 8px;
  cursor: pointer;
}
#bottom-bar .microphone img,
#bottom-bar .end-call img,
#bottom-bar .video-call img {
  cursor: pointer;
}
#bottom-bar .end-call {
  background-color: red;
}
#bottom-bar .microphone,
#bottom-bar .video-call {
  background-color: white;
}
#bottom-bar .microphone .off,
#bottom-bar .video-call .off {
  display: none;
}
#bottom-bar #sb_chat {
  z-index: 9999;
  float: left;
  width: calc(100% - 30px);
  margin-left: 15px;
  padding-top: 20px;
  display: none;
}
#teacher-validate .overlay {
  background-color: #f9f9f9;
  opacity: 1;
  position: absolute;
  height: 100%;
  width: 100%;
}
#teacher-validate .logo {
  position: relative;
  top: 12px;
  left: 20px;
}
#teacher-validate form {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  top: 150px;
}
#teacher-validate form span {
  font-weight: 700;
  color: white;
  opacity: 0.5;
}
#teacher-validate button {
  width: 100%;
  margin-bottom: 15px!important;
}
#teacher-validate .nav-header {
  background-color: #9370DB;
  position: absolute;
  z-index: 2;
  min-height: 50px;
  width: 100%;
}
#teacher-validate .form-control {
  border-radius: 0;
  padding: 20px;
}
#teacher-validate .btn-primary {
  border-radius: 0;
  padding: 10px;
  background-color: green;
  color: white;
  border: 0 none;
  background-image: none;
}
#teacher-validate .btn-primary:hover {
  background-color: #4fbfa8;
  color: #ffffff;
}
#teacher-validate .error {
  color: red;
  font-size: 14px;
  max-width: 255px;
  display: block;
  text-align: center;
}
.OT_publisher .OT_mode-auto,
OT_subscriber .OT_mode-auto {
  display: none!important;
}
div[data-notify="container"] {
  background-color: #9370DB;
  background-image: none;
  border-color: #9370DB;
  color: white;
}
.thankyou {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px;
}
.thankyou .thank-you svg {
  margin-bottom: 20px;
}
.thankyou .thank-you h3 {
  color: #4a4a4a;
  margin-top: 40px;
}
#publisher {
  cursor: pointer;
}
