{% extends 'base.html.twig' %}
{% block title %}Learn Albanian Session {{ sessionId }}{% endblock %}
{% block body %}
    <div class="main" id="teacher-validate">
        <div class="nav-header"><span class="logo">
                <svg width="9px" height="19px" viewBox="0 0 9 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.8">
                      <g id="Waiting" transform="translate(-14.000000, -12.000000)" fill="#FFFFFF">
                          <g id="logo-meso-shqip" transform="translate(14.000000, 12.000000)">
                              <g id="Group">
                                  <path d="M3.57804878,1.34494382 L3.6,3.88539326 L5.37804878,4.61123596 L3.6,5.37977528 L3.64390244,12.4247191 C3.64390244,13.0865169 4.19268293,13.6202247 4.87317073,13.6202247 L7.74878049,13.5988764 C8.42926829,13.5988764 8.97804878,13.0651685 8.97804878,12.4033708 L8.91219512,1.34494382 C8.91219512,0.683146067 8.36341463,0.149438202 7.68292683,0.149438202 L4.80731707,0.170786517 C4.10487805,0.128089888 3.55609756,0.661797753 3.57804878,1.34494382 Z" id="Path"></path>
                                  <path d="M0.109756098,6.68202247 L0.131707317,9.22247191 L1.9097561,9.94831461 L0.131707317,10.7168539 L0.175609756,17.7617978 C0.175609756,18.4235955 0.724390244,18.9573034 1.40487805,18.9573034 L4.2804878,18.9359551 C4.96097561,18.9359551 5.5097561,18.4022472 5.5097561,17.7404494 L5.44390244,6.68202247 C5.44390244,6.02022472 4.89512195,5.48651685 4.21463415,5.48651685 L1.33902439,5.50786517 C0.658536585,5.48651685 0.109756098,6.02022472 0.109756098,6.68202247 Z" id="Path"></path>
                              </g>
                          </g>
                      </g>
                  </g>
                </svg>
            </span> </div>
        <div class="overlay"></div>
        <form class="text-center">
            <div class="form-group">
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Your email">
                <span class="error">{% if errors is defined %}{{ errors }}{% endif %}</span>
            </div>
            <button type="submit" class="btn btn-primary" id="submit-email">Join Klassroom</button>
            <span class="text text-center">Book your session.</span>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        var sessionId = "{{ sessionId }}";
    </script>
    <script src="{{ asset('js/validate-student.js') }}"></script>
{% endblock %}