{% extends 'base.html.twig' %}

{% block title %}Learn Albanian Session {{ sessionId }}{% endblock %}

{% block body %}
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <div class="main">
        <div class="overlay"></div>
        <div id="subscribers">
            <div class="brand-logo">
                <svg width="9px" height="19px" viewBox="0 0 9 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.8">
                        <g id="Waiting" transform="translate(-14.000000, -12.000000)" fill="#FFFFFF">
                            <g id="logo-meso-shqip" transform="translate(14.000000, 12.000000)">
                                <g id="Group">
                                    <path d="M3.57804878,1.34494382 L3.6,3.88539326 L5.37804878,4.61123596 L3.6,5.37977528 L3.64390244,12.4247191 C3.64390244,13.0865169 4.19268293,13.6202247 4.87317073,13.6202247 L7.74878049,13.5988764 C8.42926829,13.5988764 8.97804878,13.0651685 8.97804878,12.4033708 L8.91219512,1.34494382 C8.91219512,0.683146067 8.36341463,0.149438202 7.68292683,0.149438202 L4.80731707,0.170786517 C4.10487805,0.128089888 3.55609756,0.661797753 3.57804878,1.34494382 Z" id="Path"></path>
                                    <path d="M0.109756098,6.68202247 L0.131707317,9.22247191 L1.9097561,9.94831461 L0.131707317,10.7168539 L0.175609756,17.7617978 C0.175609756,18.4235955 0.724390244,18.9573034 1.40487805,18.9573034 L4.2804878,18.9359551 C4.96097561,18.9359551 5.5097561,18.4022472 5.5097561,17.7404494 L5.44390244,6.68202247 C5.44390244,6.02022472 4.89512195,5.48651685 4.21463415,5.48651685 L1.33902439,5.50786517 C0.658536585,5.48651685 0.109756098,6.02022472 0.109756098,6.68202247 Z" id="Path"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="partner-image" id="publisher">
            </div>
            <h3>Waiting for {{ fname }} to join the class</h3>
        </div>
        <div class="resize-icon">
            <img src="{{ asset('image/extent-option-arrows.svg') }}" width="auto" height="20" />
        </div>
        <div class="container-fluid" id="bottom-bar">
            <div class="row">
                <div class="communication-buttons">
                    <div class="microphone"><img class="on" src="{{ asset('image/baseline-mic-24px.svg') }}" /><img class="off" src="{{ asset('image/baseline-mic_off-24px.svg') }}" /></div>
                    <div class="end-call"><img src="{{ asset('image/baseline-call_end-24px.svg') }}" /></div>
                    <div class="video-call"><img class="on" src="{{ asset('image/baseline-videocam-24px.svg') }}" /><img class="off" src="{{ asset('image/baseline-videocam_off-24px.svg') }}" /></div>
                </div>
                <div class="keyboard">
                    {#<img src="{{ asset('image/icons8-keyboard-24.png') }}" />#}
                    <svg width="19px" height="13px" viewBox="0 0 19 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Clasroom" transform="translate(-988.000000, -512.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                <g id="keyboard" transform="translate(988.000000, 512.000000)">
                                    <path d="M17.4166543,0 L1.5833457,0 C0.710496094,0 0,0.728811077 0,1.62500952 L0,11.3749905 C0,12.2711889 0.710496094,13 1.5833457,13 L17.4166914,13 C18.2895039,13 19,12.2711889 19,11.3749905 L19,1.62500952 C19,0.728811077 18.2895039,0 17.4166543,0 Z M18.2083457,11.3749905 C18.2083457,11.8228802 17.8534687,12.1874762 17.4166914,12.1874762 L1.5833457,12.1874762 C1.14653125,12.1874762 0.791691406,11.8228802 0.791691406,11.3749905 L0.791691406,1.62500952 C0.791691406,1.17711977 1.14656836,0.812523804 1.5833457,0.812523804 L17.4166914,0.812523804 C17.8535059,0.812523804 18.2083457,1.17711977 18.2083457,1.62500952 L18.2083457,11.3749905 Z" id="Shape"></path>
                                    <path d="M3.66666146,2 L2.33333854,2 C2.14909142,2 2,2.14909375 2,2.33334375 L2,3.66665625 C2,3.85090625 2.14909142,4 2.33333854,4 L3.66666146,4 C3.85090858,4 4,3.85090625 4,3.66665625 L4,2.3333125 C3.99996875,2.14909375 3.85090858,2 3.66666146,2 Z M3.33332292,3.3333125 L2.66667708,3.3333125 L2.66667708,2.66665625 L3.33332292,2.66665625 L3.33332292,3.3333125 Z" id="Shape"></path>
                                    <path d="M5.33333854,4 L6.66666146,4 C6.85090858,4 7,3.85090858 7,3.66666146 L7,2.33333854 C7,2.14909142 6.85090858,2 6.66666146,2 L5.33333854,2 C5.14909142,2 5,2.14909142 5,2.33333854 L5,3.66666146 C5.00003125,3.85090858 5.14912267,4 5.33333854,4 Z M5.66667708,2.66667708 L6.33332292,2.66667708 L6.33332292,3.33332292 L5.66667708,3.33332292 L5.66667708,2.66667708 Z" id="Shape"></path>
                                    <path d="M9.33333854,4 L10.6666615,4 C10.8509086,4 11,3.85090858 11,3.66666146 L11,2.33333854 C11,2.14909142 10.8509086,2 10.6666615,2 L9.33333854,2 C9.14909142,2 9,2.14909142 9,2.33333854 L9,3.66666146 C9,3.85090858 9.14909142,4 9.33333854,4 Z M9.66664583,2.66667708 L10.3332917,2.66667708 L10.3332917,3.33332292 L9.66664583,3.33332292 L9.66664583,2.66667708 Z" id="Shape"></path>
                                    <path d="M13.6666615,2 L12.3333385,2 C12.1490914,2 12,2.14909375 12,2.33334375 L12,3.66665625 C12,3.85090625 12.1490914,4 12.3333385,4 L13.6666615,4 C13.8509086,4 14,3.85090625 14,3.66665625 L14,2.3333125 C13.9999688,2.14909375 13.8509086,2 13.6666615,2 Z M13.3333229,3.3333125 L12.6666771,3.3333125 L12.6666771,2.66665625 L13.3333229,2.66665625 L13.3333229,3.3333125 Z" id="Shape"></path>
                                    <path d="M16.6666615,2 L15.3333385,2 C15.1490914,2 15,2.14909375 15,2.33334375 L15,3.66665625 C15,3.85090625 15.1490914,4 15.3333385,4 L16.6666615,4 C16.8509086,4 17,3.85090625 17,3.66665625 L17,2.3333125 C17,2.14909375 16.8509086,2 16.6666615,2 Z M16.3333229,3.3333125 L15.6666771,3.3333125 L15.6666771,2.66665625 L16.3333229,2.66665625 L16.3333229,3.3333125 Z" id="Shape"></path>
                                    <path d="M3.66666146,9 L2.33333854,9 C2.14909142,9 2,9.14909142 2,9.33333854 L2,10.6666615 C2,10.8509086 2.14909142,11 2.33333854,11 L3.66666146,11 C3.85090858,11 4,10.8509086 4,10.6666615 L4,9.33333854 C3.99996875,9.14909142 3.85090858,9 3.66666146,9 Z M3.33332292,10.3333229 L2.66667708,10.3333229 L2.66667708,9.66667708 L3.33332292,9.66667708 L3.33332292,10.3333229 Z" id="Shape"></path>
                                    <path d="M12.6363869,9 L5.36364721,9 C5.1626475,9 5,9.14909142 5,9.33333854 L5,10.6666615 C5,10.8509086 5.1626475,11 5.36364721,11 L12.6363528,11 C12.8373525,11 13,10.8509086 13,10.6666615 L13,9.33333854 C13,9.14909142 12.8373866,9 12.6363869,9 Z M12.2727397,10.3333229 L5.72729442,10.3333229 L5.72729442,9.66667708 L12.2727397,9.66667708 L12.2727397,10.3333229 Z" id="Shape"></path>
                                    <path d="M16.6666615,9 L15.3333385,9 C15.1490914,9 15,9.14909142 15,9.33333854 L15,10.6666615 C15,10.8509086 15.1490914,11 15.3333385,11 L16.6666615,11 C16.8509086,11 17,10.8509086 17,10.6666615 L17,9.33333854 C17,9.14909142 16.8509086,9 16.6666615,9 Z M16.3333229,10.3333229 L15.6666771,10.3333229 L15.6666771,9.66667708 L16.3333229,9.66667708 L16.3333229,10.3333229 Z" id="Shape"></path>
                                    <path d="M3.66666146,6 L2.33333854,6 C2.14909142,6 2,6.14909375 2,6.33334375 L2,7.6666875 C2,7.85090625 2.14909142,8 2.33333854,8 L3.66666146,8 C3.85090858,8 4,7.85090625 4,7.66665625 L4,6.3333125 C3.99996875,6.14909375 3.85090858,6 3.66666146,6 Z M3.33332292,7.33334375 L2.66667708,7.33334375 L2.66667708,6.6666875 L3.33332292,6.6666875 L3.33332292,7.33334375 Z" id="Shape"></path>
                                    <path d="M5.33333854,7 L6.66666146,7 C6.85090858,7 7,6.85090858 7,6.66666146 L7,5.33333854 C7,5.14909142 6.85090858,5 6.66666146,5 L5.33333854,5 C5.14909142,5 5,5.14909142 5,5.33333854 L5,6.66666146 C5.00003125,6.85090858 5.14912267,7 5.33333854,7 Z M5.66667708,5.66667708 L6.33332292,5.66667708 L6.33332292,6.33332292 L5.66667708,6.33332292 L5.66667708,5.66667708 Z" id="Shape"></path>
                                    <path d="M9.33333854,7 L10.6666615,7 C10.8509086,7 11,6.85090858 11,6.66666146 L11,5.33333854 C11,5.14909142 10.8509086,5 10.6666615,5 L9.33333854,5 C9.14909142,5 9,5.14909142 9,5.33333854 L9,6.66666146 C9,6.85090858 9.14909142,7 9.33333854,7 Z M9.66664583,5.66667708 L10.3332917,5.66667708 L10.3332917,6.33332292 L9.66664583,6.33332292 L9.66664583,5.66667708 Z" id="Shape"></path>
                                    <path d="M13.6666615,6 L12.3333385,6 C12.1490914,6 12,6.14909142 12,6.33333854 L12,7.66666146 C12,7.85090858 12.1490914,8 12.3333385,8 L13.6666615,8 C13.8509086,8 14,7.85090858 14,7.66666146 L14,6.33333854 C13.9999688,6.14909142 13.8509086,6 13.6666615,6 Z M13.3333229,7.33332292 L12.6666771,7.33332292 L12.6666771,6.66667708 L13.3333229,6.66667708 L13.3333229,7.33332292 Z" id="Shape"></path>
                                    <path d="M16.6666615,6 L15.3333385,6 C15.1490914,6 15,6.14909142 15,6.33333854 L15,7.66666146 C15,7.85090858 15.1490914,8 15.3333385,8 L16.6666615,8 C16.8509086,8 17,7.85090858 17,7.66666146 L17,6.33333854 C17,6.14909142 16.8509086,6 16.6666615,6 Z M16.3333229,7.33332292 L15.6666771,7.33332292 L15.6666771,6.66667708 L16.3333229,6.66667708 L16.3333229,7.33332292 Z" id="Shape"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="content-chat" id="sb_chat"></div>
            </div>
        </div>
        <form class="archive-options">
            <input type="checkbox" name="hasAudio" checked>
            <input type="checkbox" name="hasVideo" checked>
            <input type="radio" name="outputMode" value="composed" checked>
            <input type="radio" name="outputMode" value="individual">
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        var sessionId = "{{ sessionId }}";
        var apiKey = "{{ apiKey }}";
        var token = "{{ token }}";
        var chaturl = "{{ chaturl }}";
        var sendbirdkey = "{{ sendbirdkey }}";
        var userId = "{{ user_id }}";
        var nickname = "{{ nickname }}";
        var channel_name= "{{ channelname }}";
    </script>
    <script src="{{ asset('js/SendBird.min.js') }}"></script>
    <script src="{{ asset('js/liveChat.SendBird.js') }}"></script>
    <script src="{{ asset('js/bootstrap-notify.js') }}"></script>
    <script src="{{ asset('js/host.js') }}"></script>
    <script src="{{ asset('js/global.js') }}"></script>
{% endblock %}

