{% extends 'base.html.twig' %}

{% block title %}Learn Albanian Thank You{% endblock %}
{% block body %}
<div class="main thankyou">
    <div class="thank-you text-center">
        <svg width="39px" height="83px" viewBox="0 0 39 83" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.8">
                <g id="Finished" transform="translate(-500.000000, -38.000000)" fill="#735AC6">
                    <g id="logo-meso-shqip" transform="translate(500.000000, 38.000000)">
                        <g id="Group">
                            <path d="M15.504878,5.8752809 L15.6,16.9730337 L23.304878,20.1438202 L15.6,23.5011236 L15.7902439,54.2764045 C15.7902439,57.1674157 18.1682927,59.4988764 21.1170732,59.4988764 L33.5780488,59.405618 C36.5268293,59.405618 38.904878,57.0741573 38.904878,54.1831461 L38.6195122,5.8752809 C38.6195122,2.98426966 36.2414634,0.652808989 33.2926829,0.652808989 L20.8317073,0.746067416 C17.7878049,0.559550562 15.4097561,2.89101124 15.504878,5.8752809 Z" id="Path"></path>
                            <path d="M0.475609756,29.1898876 L0.570731707,40.2876404 L8.27560976,43.458427 L0.570731707,46.8157303 L0.76097561,77.5910112 C0.76097561,80.4820225 3.13902439,82.8134831 6.08780488,82.8134831 L18.5487805,82.7202247 C21.497561,82.7202247 23.8756098,80.388764 23.8756098,77.4977528 L23.5902439,29.1898876 C23.5902439,26.2988764 21.2121951,23.9674157 18.2634146,23.9674157 L5.80243902,24.0606742 C2.85365854,23.9674157 0.475609756,26.2988764 0.475609756,29.1898876 Z" id="Path"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <h3>Class is over</h3>
        <h3>Thank you</h3>
    </div>
</div>
{% endblock %}