/* Move down content because we have a fixed navbar that is 50px tall */
body {
  background-color: #F2F2F2;
  font-family:'Poppins',sans-serif;
  overflow: hidden;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove padding from wrapping element since we kick in the grid classes here */
  .body-content {
    padding: 0;
  }
}

#subscribers{
  position:absolute;
  height: 100%;
  width: 100%;
  div {
    float: left;
    width:100%!important;
    height:100%!important;
  }
  //#publisher{
  //  cursor:pointer;
  //  &.position-fixed{
  //    width: 264px!important;
  //    height: 198px!important;
  //    overflow: hidden;
  //    position: absolute;
  //    z-index: 2;
  //    bottom: 40px;
  //    left: 20px;
  //    float:left;
  //    @media(max-width:650px){
  //      width:20px!important;
  //      height:60px!important;
  //    }
  //  }
  //}
  h3{
    color: white;
    z-index: 999;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
  }
}
.archive-options{
  display:none;
}
.bump-me {
  padding-top: 40px;
}

/* your styles go here */

.brand-logo {
  position: absolute;
  z-index: 1;
  img, svg {
    width: auto;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
  }
}
.resize-icon {
  position: absolute;
  right:20px;
  top:20px;
  z-index: 1;
  cursor:pointer;
}
#bottom-bar{
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  .partner-image {
    left: 20px;
    z-index: 1;
    float:left;
    @media(max-width:650px){
      width:20px!important;
      height:60px!important;
    }
  }
  .keyboard {
    margin-right: 20px;
    bottom: 40px;
    z-index: 1;
    float:right;
    margin-top:155px;
    cursor:pointer;
    @media(max-width: 650px){
      margin-top: 0;
      padding-left: 20px;
      margin-bottom: 20px;
      float:left;
      width:100%;
    }
    &.dot {
      &:after{
        height: 10px;
        width: 10px;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
        content: '';
        position: absolute;
        margin-top: -23px;
        margin-left: -5px;
      }
    }
  }
  .communication-buttons {
    display: inline-flex;
    float:left;
    margin-bottom: 40px;
    z-index: 1;
    margin-top:155px;
    margin-left: calc(~'(100% - 350px) / 2');
    @media(max-width:650px){
      margin-left: 0;
      margin-top: 25px;
      margin-bottom: 0;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    &.multi-video{
      margin-left: calc(~'(100% - 600px) / 2');
      @media(max-width:650px){
        width:100%;
      }
    }
  }
  .microphone,
  .end-call,
  .video-call {
    border-radius: 50%;
    padding: 10px;
    margin: 0 8px;
    cursor:pointer;
    img {
      cursor: pointer;
    }
  }
  .end-call {
    background-color: red;
  }
  .microphone,
  .video-call {
    background-color: white;
    .off{
      display:none;
    }
  }
  #sb_chat{
    z-index: 9999;
    float: left;
    width: calc(~'100% - 30px');
    margin-left: 15px;
    padding-top: 20px;
    display:none;
  }
}
#teacher-validate {
  .overlay {
    background-color: #f9f9f9;
    opacity: 1;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .logo {
    position: relative;
    top: 12px;
    left: 20px;
  }
  form {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
    span {
      font-weight: 700;
      color: white;
      opacity: 0.5;
    }
  }
  button {
    width: 100%;
    margin-bottom: 15px!important;
  }
  .nav-header {
    background-color: #9370DB;
    position: absolute;
    z-index: 2;
    min-height: 50px;
    width: 100%;
  }
  .form-control {
    border-radius: 0;
    padding: 20px;
  }
  .btn-primary {
    border-radius: 0;
    padding: 10px;
    background-color: green;
    color: white;
    border: 0 none;
    background-image:none;
    &:hover {
      background-color: #4fbfa8;
      color: #ffffff;
    }
  }
  .error {
    color:red;
    font-size:14px;
    max-width: 255px;
    display: block;
    text-align: center;
  }
}
.OT_publisher, OT_subscriber{
    .OT_mode-auto{
      display:none!important;
    }
}
div[data-notify="container"]{
  background-color:#9370DB;
  background-image: none;
  border-color:#9370DB;
  color:white;
}
.thankyou{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px;
  .thank-you{
    svg{
      margin-bottom:20px;
    }
    h3{
      color:#4a4a4a;
      margin-top:40px;
    }
  }
}
#publisher{
  cursor:pointer;
}